{
	"semi": true,
	"bracketSpacing": true,
	"embeddedLanguageFormatting": "auto",
	"trailingComma": "es5",
	"jsxBracketSameLine": true,
	"printWidth": 180,
	"tabWidth": 4,
	"useTabs": true,
	"singleQuote": true,
	"arrowParens": "avoid",
	"quoteProps": "preserve"
}
